p:first-child {
  background-color: yellow;
  color: red;
}
p:last-child{
    border: 2px solid black;
    text-align: center;
    background-image: url(image.png);
    background-color: rgb(247, 174, 246);
    width:100vw;
    white-space: pre-line;
    font-weight:900;
    color: rgb(225, 255, 0);
    box-shadow: 2px 5px 8px rgba(255, 0, 0, 0.3);
}
p{
    background-color: blue;
    /* color: white; */
}
*{
    text-align: center;

}

p:last-child:hover{
    color: rgb(255, 0, 0);
}
